
<select name="">
  <option >#NOMBRE DEL ALMACENs</option>
  </select>
<br>
<br>

<input type="number" name="" [(ngModel)]="ID" placeholder="ID">
<input type="text" name="" [(ngModel)]="Codigo" placeholder="Codigo">
<input type="text" name=""  [(ngModel)]="Ubicacion" placeholder="Ubicacion">
<input type="text" name="" [(ngModel)]="Inventario" placeholder="Inventario">
<input type="number" name="" [(ngModel)]="ID_Encargado" placeholder="ID_Encargado">

<br>
<br>



<br>
<br>


<button (click)="getAlmacen()">Get Almacen</button>
<button (click)="getAlmacenSolo()">Get Almacen Solo</button>
<button (click)="PostAlmacen()">Post Almacen</button>
<button (click)="UpdateAlmacen()">Update Almacen</button>
<button (click)="DeleteAlmacen()">Delete Almacen</button>